<?php

$_POST = json_decode(file_get_contents('php://input'), true);

require_once '../db.php';
$con = new pdo_db();

$table = $_POST['table'];
$prefix = (isset($_POST['prefix'])&&($_POST['prefix']!=""))?".".$_POST['prefix']:"";
$dir = (isset($_POST['handler'])&&($_POST['handler']!=""))?$_POST['handler']."/":"";
$in_variable = (isset($_POST['in_variable'])&&($_POST['in_variable']!=""))?$_POST['in_variable']:"";
$in_id = (isset($_POST['in_id']))?$_POST['in_id']['id']:"";
$in_text = (isset($_POST['in_text']))?$_POST['in_text']['id']:"";

$columns = $con->getData("SHOW COLUMNS FROM $table;");
// var_dump($columns);

?>
<form>
  <div class="form-group">
    <label><h3>JSON Structure</h3></label>
    <textarea class="form-control" rows="<?php echo count($columns)+3; ?>"><?php	
		echo "\rscope$prefix = {\n";
		foreach ($columns as $i => $value) {
			$av = ($value['Type'] == "int(10)")?" 0":" \"\"";
			echo "   \"".$value['Field']."\":"."$av,"."\n";
		};
		echo "};\n";	
	?></textarea>
  </div>
  <div class="form-group">
    <label><h3>JSON Initialization/Set</h3></label>
    <textarea class="form-control" rows="<?php echo count($columns)+3; ?>"><?php		
		echo "scope".$prefix." = {};\n";
		foreach ($columns as $i => $value) {
			$av = ($value['Type'] == "int(10)")?"0":"\"\"";
			echo "scope".$prefix.".".$value['Field']." = $av;\n";
		};
	?></textarea>
  </div>   
  <div class="form-group">
    <label><h3>JSON References (GET)</h3></label>
    <textarea class="form-control" rows="<?php echo count($columns)+3; ?>"><?php	
		foreach ($columns as $i => $value) {
			echo "scope".$prefix.".".$value['Field'].";\n";
		};
	?></textarea>
  </div>
  <div class="form-group">
    <label><h3>AngularJS POST request</h3></label>
    <textarea class="form-control" rows="10">
$http({
  method: 'POST',
  url: '<?php echo $dir; ?>',
  data: scope<?php echo $prefix."\n"; ?>
}).then(function mySucces(response) {
	
}, function myError(response) {
	
});
	</textarea>
  </div>
  <div class="form-group">
    <label><h3>ng-options (SELECT)</h3></label>
    <textarea class="form-control" rows="3">
ng-options="<?=$in_variable?>.<?=$in_text?> for <?=$in_variable?> in <?=$table?> track by <?=$in_variable?>.<?=$in_id?>"
	</textarea>
  </div>
  <div class="form-group">
    <label><h3>uib-typeahead (autosuggest)</h3></label>
    <textarea class="form-control" rows="3">
uib-typeahead="<?=$in_variable?> as <?=$in_variable?>.<?=$in_text?> for <?=$in_variable?> in <?=$table?> | filter:{<?=$in_variable?>:$viewValue}"
	</textarea>
  </div>  
  <div class="form-group">
    <label><h3>ng-repeat (tabulation)</h3></label>
    <textarea class="form-control" rows="<?php echo count($columns)+3; ?>">
ng-repeat="<?=$in_variable?> in <?=$table?>"
<?php
foreach ($columns as $i => $value) {
	$pre = ($in_variable != "")?$in_variable.".":"";
	echo "{{".$pre.$value['Field']."}}"."\n";
};
?>
	</textarea>
  </div>
</form>